<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  (page)="pageChanged($event)"
  style="margin-bottom: 3rem"
></mat-paginator>
<div class="row" *ngIf="episodes$ | async as episodes; else loading">
  <app-episode-card
    style="margin-bottom: 2rem"
    class="col-3"
    *ngFor="let episode of episodes"
    [episode]="episode"
  />
</div>
<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="currentPage"
  (page)="pageChanged($event)"
></mat-paginator>
<ng-template #loading>Loading episodes...</ng-template>
