<section>
  <div class="row">
    <div class="col-6">
      <div style="text-align: center">
        <h1 class="title">Rick and Morty fandom website</h1>
      </div>

      <p>Welcome to the Rick And Morty fandom website.</p>
      <p>
        Here you can find all information about the show. Whether be it to learn
        about the different characters, locations or episodes of the show, you
        are in the right place.
      </p>
      <p>
        This website is as suitable for die hard fans who want to explore the
        details of the show as it is for new fans who are looking to discover
        the universe of Rick and Morty.
      </p>
      <p style="margin-bottom: 1.5rem">Explore the website</p>
      <div class="row">
        <div class="col-4">
          <button
            mat-raised-button
            color="primary"
            (click)="navigateToCharacters()"
          >
            Characters
          </button>
        </div>
        <div class="col-4">
          <button
            mat-raised-button
            color="primary"
            (click)="navigateToLocations()"
          >
            locations
          </button>
        </div>
        <div class="col-4">
          <button mat-raised-button color="primary">Episodes</button>
        </div>
      </div>
    </div>
    <div class="col-6" style="text-align: center">
      <img src="../../assets/images/home1.jpg" width="40%" height="auto" />
    </div>
  </div>
</section>
